@import url("styleReset.css");
@import url("animations.css");
@import url("common.css");
@import url("global.css");

html,
body {
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 100%;
}

body {
    background-color: var(--mainColor);
    font-family: 'Montserrat', sans-serif;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.panel {
    height: 100%;
}

#sideForm {
    align-self: flex-start;
    position: sticky;
    top: 0;
    overflow-y: auto;
    background-color: var(--accentColor1);
    display: flex;
    flex-direction: column;
    color: var(--fontLight);
    padding: var(--medPadding);
}

#sideForm>#header>div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#sideForm>#header>div>h2 {
    margin-bottom: var(--smPadding);
}

#sideForm>form {
    display: flex;
    flex-direction: column;
    align-self: center;
}

#sideForm>form>div {
    display: flex;
    flex-direction: column;
    margin: var(--smPadding);
    width: fit-content;
}

#sideForm>form>button {
    margin: var(--smPadding);
    align-self: flex-start;
}

#mainContent {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: var(--fontLight);
}

#mainContent>* {
    padding: var(--smPadding);
}

#mainContent>#header {
    background-color: var(--accentColor2);
    border-bottom: 2px solid #1982FC;
    display: flex;
    flex-direction: row;
    height: fit-content;
}

#mainContent>#header>h2,
#mainContent > #header > nav > * {
    margin: 0;
    align-self: flex-end;
}

#mainContent > #header > nav {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: flex-end;
    gap: var(--smPadding);
}

#mainContent>#books {
    margin-top: 5%;
    width: fit-content;
    display: grid;
    align-self: center;
    grid-template-rows: repeat(1, 1fr);
    gap: var(--medPadding);
}

#mainContent>#books>div {
    padding: var(--smPadding) var(--medPadding);
    display: flex;
    flex-direction: column;
    gap: var(--smPadding);
}

#mainContent>#books>div>h4,
#mainContent>#books>div>h6 {
    margin: 0;
}

#mainContent>#books>div>.book {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: var(--roundBorder);
    width: fit-content;

}

#mainContent>#books>div>.book>* {
    margin: var(--smPadding);
}

.smIcon {
    height: clamp(32px, -0.875rem + 2vw, 2rem);
    width: auto;
}

.medIcon {
    height: clamp(64px, -0.875rem + 2vw, 2rem);
    width: auto;
}

#mainContent>#books>div>h4 {
    text-align: center;
}

.finished {
    background-color: #1982FC;
}

.reading {
    background-color: #723bf9;
}

.notstarted {
    background-color: rgb(127, 23, 14);
}